<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80945241811-jat2s4q7c3s7is1rqkevvrihesu2tbtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80945241811-jat2s4q7c3s7is1rqkevvrihesu2tbtn</string>
	<key>API_KEY</key>
	<string>AIzaSyDYmkzFzEVaD33aLOFzOgOXJNSuMQOJgf4</string>
	<key>GCM_SENDER_ID</key>
	<string>80945241811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beshoytharwatDice.InstgramFireBase</string>
	<key>PROJECT_ID</key>
	<string>instgramfirebase-af365</string>
	<key>STORAGE_BUCKET</key>
	<string>instgramfirebase-af365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80945241811:ios:c71715c8c551c2980efe26</string>
	<key>DATABASE_URL</key>
	<string>https://instgramfirebase-af365.firebaseio.com</string>
</dict>
</plist>